@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Bricolage Grotesque", sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}

body {
  background-color: #f3f4f6;
  overflow: hidden;
}

.pageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  min-height: 100vh;
}

.authErrorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
}

.newRoomCard {
  width: 150px;
  cursor: pointer;
  height: 100px;
  border-radius: 10px;
  border: 0.5px solid gray;
  background-color: #314cd9;
  color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.tools {
  top: 80px;
  width: 200px;
  left: 20px;
  padding: 5px;
  font-size: 12px;
}

.toolItem {
  padding: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.toolItem:hover {
  background-color: rgba(51, 51, 143, 0.336);
  color: blue;
}

.activeTool {
  background-color: rgba(51, 51, 143, 0.336);
  color: blue;
}

.toolItem p {
  font-size: 10px;
}

.canvaContainer {
  background: #f6f0f0;
}

.header {
  top: 0px;
  width: 100vw;
  padding: 10px;
  background: white;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
  color: white;
  border: 2px solid white;
}

.nlm {
  margin-left: -15px;
}

.chat {
  bottom: 30px;
  right: 30px;
}

.chat .chatBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat .chat_box {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 300px;
  max-width: 80vw;
  height: 400px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chat_header {
  color: white;
  background-color: blue;
}

.chat_container {
  flex: 1;
  overflow-y: scroll;
}

.chat_container::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.message_text {
  font-size: 12px;
  margin-top: 5px;
}

.chat_footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.chat_footer input {
  border-radius: 10px;
  border: 1px solid blue;
  flex: 1;
}

.chat_footer button {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  width: 40px;
}

.colorsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: -10px;
}

.colorCard {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
  border: 1px solid;
}
