.pageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.authErrorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
}
