@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Bricolage Grotesque", sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}

body {
  background-color: #f3f4f6;
  overflow: hidden;
}

.pageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  min-height: 100vh;
}

.authErrorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
}

.newRoomCard {
  width: 150px;
  cursor: pointer;
  height: 100px;
  border-radius: 10px;
  border: 0.5px solid gray;
  background-color: #314cd9;
  color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.tools {
  top: 80px;
  width: 70px;
  left: 20px;
  padding: 5px;
}

.toolItem {
  padding: 5px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.toolItem:hover {
  background-color: rgba(51, 51, 143, 0.336);
  color: blue;
}

.activeTool {
  background-color: rgba(51, 51, 143, 0.336);
  color: blue;
}

.toolItem p {
  font-size: 10px;
}

.canvaContainer {
  background: #f6f0f0;
}
